<?xml version="1.0" encoding="utf-8" ?>
<!-- See http://github.com/faniereynders/webapiproxy for documentation on using this configuration file  -->

<proxy xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="http://webapiproxy.github.io/schemas/client-config.xsd"

       endpoint="http://yoursite.com/api/proxies"

/>
