<?xml version="1.0" encoding="utf-8" ?>
<proxy name="TestProxy"
       clientSuffix="Client"
       endpoint="http://localhost:12016/api/proxies"
       namespace="Test.Proxies"
       generateModels="true"
       generateAsyncReturnTypes="true"
       namespacesToInclude=""
       clientsNamespaceSuffix=".Clients" />