<?xml version="1.0" encoding="utf-8" ?>
<proxy name="FOXcommonProxy"
       clientSuffix="Client"
       endpoint="http://dev.common.ficsystems.com/api/proxies"
       namespace="FICsystems.FOXfinancial.Core.FOXcommon.Proxies"
       generateModels="true"
       namespacesToInclude=""
       clientsNamespaceSuffix=".Clients" />